name: Build & Deploy Go App to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4


      - name: Docker Hub Login
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}


      - name: Build and Push Docker Image
        run: |
          IMAGE=${{ secrets.DOCKERHUB_USERNAME }}/expensely-app
          TAG=${{ github.sha }}

          docker build -t $IMAGE:$TAG -t $IMAGE:latest .
          docker push $IMAGE:$TAG
          docker push $IMAGE:latest



      - name: SSH to EC2 and deploy
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            mkdir -p ~/app
            cat << 'EOF' > ~/app/.env
            DB_USERNAME=${{secrets.DB_USERNAME}}
            DB_PASSWORD=${{secrets.DB_PASSWORD}}
            ALLOWED_ORIGINS=${{secrets.ALLOWED_ORIGINS}}
            JWT_SECRET=${{ secrets.JWT_SECRET }}
            GOOGLE_CLIENT_ID=${{ secrets.GOOGLE_CLIENT_ID }}
            DB_URL=${{ secrets.DB_URL }}
            FRONTEND_URL=${{ secrets.FRONTEND_URL }}            
            PORT=${{ secrets.PORT }}
            EOF


            docker pull ${{ secrets.DOCKERHUB_USERNAME }}/expensely-app:latest
            docker stop expensely-app || true
            docker rm expensely-app || true
            docker run -d \
              --name expensely-app \
              -p 8080:8080 \
              --restart unless-stopped \
              -v ~/app/.env:/app/.env \
              ${{ secrets.DOCKERHUB_USERNAME }}/expensely-app:latest
