name: Build & Deploy Go App to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4


      - name: Docker Hub Login
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}


      - name: Build and Push Docker Image
        run: |
          IMAGE=${{ secrets.DOCKERHUB_USERNAME }}/expensely-app
          TAG=${{ github.sha }}

          docker build -t $IMAGE:$TAG -t $IMAGE:latest .
          docker push $IMAGE:$TAG
          docker push $IMAGE:latest

      - name: SSH to EC2 and deploy
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            cat << 'EOF' > ~/app/.env
            ALLOWED_ORIGINS=${{secrets.ALLOWED_ORIGINS}}
            JWT_SECRET=${{ secrets.JWT_SECRET }}
            GOOGLE_CLIENT_ID=${{ secrets.GOOGLE_CLIENT_ID }}
            DB_URL=${{ secrets.DB_URL }}
            FRONTEND_URL=${{ secrets.FRONTEND_URL }}            
            PORT=${{ secrets.PORT }}
            MAILGUN_API_KEY=${{ secrets.MAILGUN_API_KEY }}
            EOF
            
            cat << 'EOF' > ~/app/nginx.conf
            
            upstream expensely_backend {
              least_conn;
              server app:8080;
            }
            
            map $http_upgrade $connection_upgrade {
              default upgrade;
              ''      close;
            }
            
            http{
              limit_req_zone $binary_remote_addr zone=one:10m rate=5r/s;
              limit_req_status 429;
            }
            
            server {
              server_name api.expensely.store;
            
              location / {
              limit_req zone=one burst=10 nodelay;
            
              proxy_pass http://expensely_backend;
            
              proxy_http_version 1.1;
              proxy_set_header Upgrade $http_upgrade;
              proxy_set_header Connection $connection_upgrade;
            
              proxy_set_header Host $host;
              proxy_set_header X-Real-IP $remote_addr;
              proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
              proxy_set_header X-Forwarded-Proto $scheme;
            
              proxy_read_timeout 3600s;
              proxy_send_timeout 3600s;
            
              }
            
              listen 443 ssl; # managed by Certbot
              ssl_certificate /etc/letsencrypt/live/api.expensely.store/fullchain.pem;
              ssl_certificate_key /etc/letsencrypt/live/api.expensely.store/privkey.pem;
              include /etc/letsencrypt/options-ssl-nginx.conf;
              ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem;
              location /health {
              proxy_pass http://expensely_backend/health;
            }
            }
            
              server {
              listen 80;
              server_name api.expensely.store;
              return 301 https://$host$request_uri;
            }
            EOF
            
            
            cat << 'EOF' > docker-compose.yml
            version: "3.8"

            services:
              nginx:
                image: nginx:alpine
                container_name: expensely-nginx
                ports:
                  - "80:80"
                volumes:
                  - ./nginx.conf:/etc/nginx/nginx.conf:ro
                depends_on:
                  - app
                restart: unless-stopped
            
              app:
                image: nikhilsaji/expensely-app:latest
                env_file:
                  - .env
                expose:
                  - "8080"
                restart: unless-stopped
                healthcheck:
                  test: [ "CMD", "curl", "-f", "http://localhost:8080/health" ]
                  interval: 10s
                  timeout: 3s
                  retries: 3
            EOF
            
            
            cd ~/app
                docker-compose pull app
                docker-compose up -d --no-deps --scale app=2 app
                docker image prune -f
            
