name: Expensely-Action-Deploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Get Runner IP
        id: ip
        run: echo "ipv4=$(curl -s https://ifconfig.me)" >> $GITHUB_OUTPUT

      - name: Whitelist Runner IP
        run: |
          aws ec2 authorize-security-group-ingress \
            --group-id ${{ secrets.AWS_SG_ID }} \
            --protocol tcp \
            --port 22 \
            --cidr ${{ steps.ip.outputs.ipv4 }}/32

      - name: Docker Hub Login
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push Docker Image
        run: |
          IMAGE=${{ secrets.DOCKERHUB_USERNAME }}/expensely-app
          TAG=${{ github.sha }}

          docker build -t $IMAGE:$TAG -t $IMAGE:latest .
          docker push $IMAGE:$TAG
          docker push $IMAGE:latest

      - name: SSH to EC2 and deploy
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            mkdir -p ~/app
            cat << EOF > ~/app/.env
            ALLOWED_ORIGINS="${{ secrets.ALLOWED_ORIGINS }}"
            JWT_SECRET="${{ secrets.JWT_SECRET }}"
            GOOGLE_CLIENT_ID="${{ secrets.GOOGLE_CLIENT_ID }}"
            DB_URL="${{ secrets.DB_URL }}"
            FRONTEND_URL="${{ secrets.FRONTEND_URL }}"
            PORT=${{ secrets.PORT }}
            EOF


            docker pull ${{ secrets.DOCKERHUB_USERNAME }}/expensely-app:latest
            docker stop expensely-app || true
            docker rm expensely-app || true
            docker run -d \
              --name expensely-app \
              -p 8080:8080 \
              --restart unless-stopped \
              --env-file ~/app/.env \
              ${{ secrets.DOCKERHUB_USERNAME }}/expensely-app:latest

      - name: Revoke Runner IP
        if: always()
        run: |
          aws ec2 revoke-security-group-ingress \
            --group-id ${{ secrets.AWS_SG_ID }} \
            --protocol tcp \
            --port 22 \
            --cidr ${{ steps.ip.outputs.ipv4 }}/32
